.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}

.row-container {
    display:flex;
    flex-direction:row;
}

h1,
h2 {
    text-align: center;
}

img {
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
    padding: 1rem;
}
